.stats-container {
  display: flex;
  background: #f8f8f8;
  min-height: 100vh;
}

.stats-content {
  margin-left: 270px;
  padding: 30px;
  width: 100%;
}

.stats-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* Cards */
.stats-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.stats-card {
  background: white;
  padding: 25px 30px;
  border-radius: 12px;
  width: 180px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.08);
}

.stats-card h2 {
  font-size: 28px;
  margin: 0;
}

.chart-row {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}
